header {
    height: 50px;
    background-color: cornflowerblue;
    color: #fff;
}

main {
    background-color: rgb(160, 185, 233);
    padding-top: 50px;
    height: 100vh;
}

.ms_box {
    border: 1px solid #000;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

.ms_box img {
    width: 50px;
}
